<div class="col col-md-4">

<table class="table table-striped table-hover ">
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= availability(user)%></td>
      <td><%= user.name %></td>
      <td>
        <%= button_to "Start Game", conversations_path(:recipient_id => user.id, :sender_id => current_user.id), class: "btn btn-success btn-xs start-conversation"%>
      </td>
    </tr>
  <% end %>      
  </tbody>
</table>
</div>

