body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("http://ogrencikonseyi.adanabtu.edu.tr/BackImg/01.jpg");
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
}

.logo {
  font-size: 2em;
}

.main-well {
  margin-top: 50px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.conversation {
  margin-left: 150px;
  width: 75%;
}

.btn-submit {
  /*margin-left: 58%;*/
  /*width: 10%;*/
}

.chat-form-btns {
  margin-left: 83%;

}

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: yellow; 
}
